.profile-data {
  display: flex;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.birthday-icon {
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.wrapper .birthday-icon {
  position: absolute;
  top: 20px;
  left: 100px;
}

.no-display {
  display: none;
}

.k-quick-reply .dfes-link {
  text-decoration: none;
  background-color: white;
  border-radius: 0.5rem;
}
